<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ENET Care</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ENET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    if (Context.User.IsInRole("agent"))
                    {
                        @Html.Raw("<ul class='nav navbar-nav'>")
                            @Html.Raw("<li><a href='~/'>Home</a></li>")
                            @Html.Raw("<!--- Register --->")
                            @Html.Raw("<li id='register'><a href='/Package/Register'>Register</a></li>")
                            @Html.Raw("<!-- Send -->")
                            @Html.Raw("<li id='send'><a href='/Package/Send'>Send</a></li>")
                            @Html.Raw("<!-- Receive -->")
                            @Html.Raw("<li id='receive'><a href='/PackageStatus/Receive'>Receive</a></li>")
                            @Html.Raw("<!--- Stock --->")
                            @Html.Raw("<li class='dropdown' id='stock'>")
                                @Html.Raw("<a class='dropdown-toggle' href='#' role='button' data-toggle='dropdown'>Stock</a>")
                                @Html.Raw("<ul class='dropdown-menu'>")
                                    @Html.Raw("<!--- Stocktaking --->")
                                    @Html.Raw("<li id='stocktaking'><a href='/Pages/Stocktaking'>Stocktaking</a></li>")
                                    @Html.Raw("<!--- Discard --->")
                                    @Html.Raw("<li id='discard'><a href='/PackageStatus/Discard'>Discard</a></li>")
                                    @Html.Raw("<!--- Remove loss --->")
                                    @Html.Raw("<li id='removeLoss'><a href='/Pages/RemoveLoss'>Remove Loss</a></li>")
                                @Html.Raw("</ul>")
                            @Html.Raw("</li>")

                            @Html.Raw("<li id='myinformation'><a href='/Pages/MyInformation'>MyInformation</a></li>")
                        @Html.Raw("</ul>")
                    }
                    if (Context.User.IsInRole("doctor"))
                    {
                         @Html.Raw("<ul class='nav navbar-nav'>")
                             @Html.Raw("<li><a href='~/'>Home</a></li>")
                             @Html.Raw("<li id='distribute'><a href='/PackageStatus/Distribute'>Distribute</a></li>")
                             @Html.Raw("<!--- Register --->")
                             @Html.Raw("<li id='register'><a href='/Package/Register'>Register</a></li>")
                             @Html.Raw("<!-- Send -->")
                             @Html.Raw("<li id='send'><a href='/Package/Send'>Send</a></li>")
                             @Html.Raw("<!-- Receive -->")
                             @Html.Raw("<li id='receive'><a href='/PackageStatus/Receive'>Receive</a></li>")
                             @Html.Raw("<!--- Stock --->")
                             @Html.Raw("<li class='dropdown' id='stock'>")
                                 @Html.Raw("<a class='dropdown-toggle' href='#' role='button' data-toggle='dropdown'>Stock</a>")
                                 @Html.Raw("<ul class='dropdown-menu'>")
                                     @Html.Raw("<!--- Stocktaking --->")
                                     @Html.Raw("<li id='stocktaking'><a href='/Pages/Stocktaking'>Stocktaking</a></li>")
                                     @Html.Raw("<!--- Discard --->")
                                     @Html.Raw("<li id='discard'><a href='/PackageStatus/Discard'>Discard</a></li>")
                                     @Html.Raw("<!--- Remove loss --->")
                                     @Html.Raw("<li id='removeLoss'><a href='/PackageStatus/RemoveLoss'>Remove Loss</a></li>")
                                 @Html.Raw("</ul>")
                             @Html.Raw("</li>")
                             @Html.Raw("<li id='myinformation'><a href='/Pages/MyInformation'>MyInformation</a></li>")
                         @Html.Raw("</ul>")
                    }
                    if (Context.User.IsInRole("manager"))
                    {
                        @Html.Raw("<ul class='nav navbar-nav'>")
                            @Html.Raw("<li><a href='~/'>Home</a></li>")
                            @Html.Raw("<!--- Reports --->")
                            @Html.Raw("<li class='dropdown' id='reportsMenu'>")
                                @Html.Raw("<a class='dropdown-toggle' href='#' role='button' data-toggle='dropdown'>Reports</a>")
                                @Html.Raw("<ul class='dropdown-menu'>")
                                    @Html.Raw("<!--- Distribution Centre Stock --->")
                                    @Html.Raw("<li id='DCStock'><a href='/Reports/DistributionCentreStockReport'>Distribution Centre Stock</a></li>")

                                    @Html.Raw("<!--- Distribution Centre Losses --->")
                                    @Html.Raw("<li id='DCLosses'><a href='/Reports/DistributionCentreLossesReport'>Distribution Centre Losses</a></li>")

                                    @Html.Raw("<!--- Doctor Activity --->")
                                    @Html.Raw("<li id='DocActivity'><a href='/Reports/DoctorActivityReport'>Doctor Activity</a></li>")

                                    @Html.Raw("<!--- Value in Transit --->")
                                    @Html.Raw("<li id='ValueInTrasit'><a href='/Reports/ValueInTransit'>Value in Transit</a></li>")

                                    @Html.Raw("<!--- GlobalStock --->")
                                    @Html.Raw("<li id='GlobalStock'><a href='/Reports/GlobalStock'>Global Stock</a></li>")
                                @Html.Raw("</ul>")
                            @Html.Raw("</li>")
                            @Html.Raw("<li id='myinformation'><a href='/Pages/MyInformation'>MyInformation</a></li>")
                        @Html.Raw("</ul>")
                    }
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
