<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand"   href="~/">ENET Care</a>
            </div>
            <div class="navbar-collapse collapse">


                @if(Request.IsAuthenticated)
                {
                    if(Context.User.IsInRole("agent"))
                    {
                                <ul class="nav navbar-nav">
                                    <li><a   href="~/">Home</a></li>
                                    <!--- Register --->
                                    <li id="register"  ><a href="/Pages/Register.aspx">Register</a></li>
                                    <!-- Send -->
                                    <li id="send"  ><a href="/Pages/Send.aspx">Send</a></li>
                                    <!-- Receive -->
                                    <li id="receive"><a href="/Pages/Receive.aspx">Receive</a></li>
                                    <!--- Stock --->
                                    <li class="dropdown" id="stock"  >
                                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">Stock</a>
                                        <ul class="dropdown-menu">
                                            <!--- Stocktaking --->
                                            <li id="stocktaking"  ><a href="/Pages/Stocktaking.aspx">Stocktaking</a></li>
                                            <!--- Discard --->
                                            <li id="discard"  ><a href="/Pages/Discard.aspx">Discard</a></li>
                                            <!--- Remove loss --->
                                            <li id="removeLoss"  ><a href="/Pages/RemoveLoss.aspx">Remove Loss</a></li>
                                        </ul>
                                    </li>
                              
                                    <li id="myinformation"  ><a href="/Pages/MyInformation.aspx">MyInformation</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a   href="~/Account/Manage" title="Manage your account">Hello, @Context.User.Identity.Name !</a></li>
                                    <li>
                                        <!---asp:loginstatus   logoutaction="Redirect" logouttext="Log off" logoutpageurl="~/" onloggingout="Unnamed_LoggingOut" /-->
                                    </li>
                                </ul>
                    }
                    if(User.IsInRole("doctor"))
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="~/">Home</a></li>
                            <li id="distribute"><a href="/Pages/Distribute.aspx">Distribute</a></li>
                            <!--- Register --->
                            <li id="register"><a href="/Pages/Register.aspx">Register</a></li>
                            <!-- Send -->
                            <li id="send"><a href="/Pages/Send.aspx">Send</a></li>
                            <!-- Receive -->
                            <li id="receive"><a href="/Pages/Receive.aspx">Receive</a></li>
                            <!--- Stock --->
                            <li class="dropdown" id="stock">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">Stock</a>
                                <ul class="dropdown-menu">
                                    <!--- Stocktaking --->
                                    <li id="stocktaking"><a href="/Pages/Stocktaking.aspx">Stocktaking</a></li>
                                    <!--- Discard --->
                                    <li id="discard"><a href="/Pages/Discard.aspx">Discard</a></li>
                                    <!--- Remove loss --->
                                    <li id="removeLoss"><a href="/Pages/RemoveLoss.aspx">Remove Loss</a></li>
                                </ul>
                            </li>                      
                            <li id="myinformation"><a href="/Pages/MyInformation.aspx">MyInformation</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="~/Account/Manage" title="Manage your account">Hello, @Context.User.Identity.Name !</a></li>
                            <li>
                                <!--asp:loginstatus logoutaction="Redirect" logouttext="Log off" logoutpageurl="~/" onloggingout="Unnamed_LoggingOut" /-->
                            </li>
                        </ul>
                    }
                    if(User.IsInRole("manager"))
                    {
                        <ul class="nav navbar-nav">
                            <li><a href="~/">Home</a></li>                        
                            <!--- Reports --->
                            <li class="dropdown" id="reportsMenu">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">Reports</a>
                                <ul class="dropdown-menu">
                                    <!--- Distribution Centre Stock --->
                                    <li id="DCStock"><a href="/Pages/DistributionCentreStockReport.aspx">Distribution Centre Stock</a></li>

                                    <!--- Distribution Centre Losses --->
                                    <li id="DCLosses"><a href="/Pages/DistributionCentreLossesReport.aspx">Distribution Centre Losses</a></li>

                                    <!--- Doctor Activity --->
                                    <li id="DocActivity"><a href="/Pages/DoctorActivityReport.aspx">Doctor Activity</a></li>

                                    <!--- Value in Transit --->
                                    <li id="ValueInTrasit"><a href="/Pages/ValueInTransit.aspx">Value in Transit</a></li>

                                    <!--- GlobalStock --->
                                    <li id="GlobalStock"><a href="/Pages/GlobalStock.aspx">Global Stock</a></li>
                                </ul>
                            </li>
                            <li id="myinformation"><a href="/Pages/MyInformation.aspx">MyInformation</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="~/Account/Manage" title="Manage your account">Hello,  @Context.User.Identity.Name !</a></li>
                            <li>
                                <!--asp:loginstatus logoutaction="Redirect" logouttext="Log off" logoutpageurl="~/" onloggingout="Unnamed_LoggingOut" /-->
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li id="NewAccount"  ><a   href="~/Account/Register">Register</a></li>
                        <li><a href="~/Account/Login">Log in</a></li>
                    </ul>
                }



                        
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
