
@model List<ENET_Care.Data.DistCentre>
@{
    ViewBag.Title = "DistributionCentreStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribution Centre Stock</h2>
@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@using (Html.BeginForm())
{
    //select dist. centre
    @Html.DropDownList("Centres")
    //display packages for each package type
    //Qty   Medication  value each  total value
    <table>
        <tr>
            <td>Qty</td>
            <td>Medication</td>
            <td>Value (each)</td>
            <td>Total Value</td>
        </tr>
        

        @{decimal totalCost = 0;
        decimal grandTotal = 0;
        foreach (var s in MedicationLogic.GetAllMedications())
        {
            <tr>
                <td>@s.Quantity</td>
                <td>@s.Description</td>
                <td>@s.Cost</td>
                <td>@(s.Cost * s.Quantity)</td>
            </tr>
            grandTotal = (decimal)s.Quantity * (decimal)s.Cost;
        }
        }
        <tr></tr>
        <!--displays the grand total that the packages value-->
        <tr>
            <td></td>
            <td></td>
            <td><b>Grand Total</b></td>
            <td><b>@grandTotal</b></td>
        </tr>
    </table>

}