@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@model List<Report_MedicationInStock>
@{
    ViewBag.Title = "ValueInTransit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Value In Transit</h2>
@using (Html.BeginForm())
{
    <table class="table table-striped table-bordered">

        @foreach (var s in PackageStatusLogic.GetStatusesInTransitPackages())
        {

            <tr>
                <th colspan="4"><b>From @s.SourceCentre.CentreName to @s.DestCentre.CentreName</b></th>

            </tr>
            <tr>
                <td><b>Qty</b></td>
                <td><b>Medication</b></td>
                <td><b>Expire Date</b></td>
                <td><b>Value</b></td>
            </tr>
            <tr>
                <td>@s.Package.PackageStandardType.Quantity</td>
                <td>@s.Package.PackageStandardType.Description</td>
                <td>@s.Package.ExpiryDate</td>
                <td>@s.Package.PackageStandardType.Cost</td>

            </tr>
        }
    </table>
}


<b>Grand Total: $@ViewBag.TotalTransitValue</b>